@import "../../Variables";

.disciplineBtn{
  margin-left: 12px;
  height: 100%;

  &.selected{
    border-color: green;

    &:hover{
      border-color: $theme-light-color-secondary;
      box-shadow: 0 0 3px 2px rgba(0, 128, 0, 0.4);
    }
  }

  &:first-child{
    margin-left: 0;
  }
}