@font-face {
  font-family: Poppins-Regular;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf"); }
*::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

*::-webkit-scrollbar-track {
  border-radius: 15px; }

*::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 15px; }

*::-webkit-scrollbar-corner {
  background-color: transparent; }

#root {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 22px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s; }

button, input, a, select {
  cursor: pointer;
  outline: none;
  padding: 0 15px; }

html {
  height: 100%; }
  html body {
    padding: 35px;
    height: 100%;
    color: #222222;
    background: linear-gradient(45deg, #b698f6 0%, #95c5ea 100%);
    outline: none;
    overflow: hidden; }
    html body button,
    html body select,
    html body input {
      background-color: transparent;
      color: #222222;
      border: 2px solid rgba(102, 102, 102, 0.4);
      user-select: none;
      border-radius: 7px;
      transition: all 0.2s; }
      html body button:hover,
      html body select:hover,
      html body input:hover {
        border-color: #222222; }
    html body input[type=text] {
      width: 100px;
      background-color: #e1e3e6;
      padding: 0 10px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 700;
      border: 2px solid transparent; }
      html body input[type=text]:hover, html body input[type=text]:focus {
        border-color: #222222; }
    html body select {
      height: 100%;
      max-height: 200px;
      background: #ffffff;
      color: #222222;
      border: 2px solid rgba(102, 102, 102, 0.4);
      border-radius: 7px;
      text-align-last: center;
      overflow-y: auto;
      transition: all 0.2s; }
      html body select:hover, html body select:focus {
        border-color: #222222; }
  html.dark {
    color: #e1e3e6;
    background: linear-gradient(45deg, #0e1b25 0%, #2a454b 50%, #294861 100%); }
    html.dark button,
    html.dark select,
    html.dark input {
      color: #e1e3e6; }
      html.dark button:hover,
      html.dark select:hover,
      html.dark input:hover {
        border-color: #e1e3e6; }
    html.dark input[type=text] {
      background-color: #e1e3e6; }
      html.dark input[type=text]:hover, html.dark input[type=text]:focus {
        border-color: #e1e3e6; }

@media screen and (max-width: 1150px) {
  * {
    font-size: 18px; }

  html body {
    padding: 0; } }
@media screen and (max-height: 510px) {
  html body {
    padding: 0; }
    html body .table-wrapper {
      border-radius: 0; } }
tr {
  display: flex;
  height: 80px;
  border-bottom: 2px solid #666666; }
  tr td {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    padding: 10px 12px; }
    tr td.labwork {
      position: sticky;
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      left: 0;
      z-index: 1;
      text-align: left;
      flex-shrink: 1;
      padding: 0 15px;
      border-right: 2px solid #666666; }
      tr td.labwork .title.short {
        display: none; }
    tr td.number {
      display: flex;
      justify-content: center;
      position: sticky;
      background-color: #ffffff;
      left: 0;
      z-index: 1;
      width: 45px;
      flex-shrink: 1; }
    tr td.fullname {
      position: sticky;
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      left: 45px;
      z-index: 1;
      text-align: left;
      flex-shrink: 1;
      border-right: 2px solid #666666; }
      tr td.fullname .name {
        margin-left: 5px; }
      tr td.fullname .name-short {
        display: none;
        margin-left: 5px; }
    tr td.stats {
      display: flex;
      justify-content: start;
      height: 100%;
      position: relative;
      font-size: 21px; }
    tr td.add {
      padding: 10px 12px 10px 0; }
      tr td.add .add-form {
        display: flex;
        height: 100%; }
        tr td.add .add-form .add-numbers {
          border-radius: 7px 0 0 7px; }
        tr td.add .add-form button {
          padding: 0;
          aspect-ratio: 1 / 1;
          border-radius: 0 7px 7px 0; }
          tr td.add .add-form button img {
            height: 100%;
            width: 100%; }
    tr td.actions {
      display: flex;
      margin-left: auto;
      justify-content: center; }
      tr td.actions .action {
        font-weight: 700;
        border-radius: 7px;
        height: 100%;
        user-select: none;
        transition: all 0.2s; }
        tr td.actions .action.all, tr td.actions .action.nothing {
          padding: 10px; }
          tr td.actions .action.all img, tr td.actions .action.nothing img {
            height: 100%; }
        tr td.actions .action.nothing {
          margin-left: 5px; }
        tr td.actions .action.numbers {
          margin-left: 12px;
          border-radius: 7px 0 0 7px; }
        tr td.actions .action.selected {
          padding: 0 15px;
          border-radius: 0 7px 7px 0; }
    tr td.total-mark, tr td.percentage {
      width: 67px;
      align-items: center;
      justify-content: center; }
      tr td.total-mark span, tr td.percentage span {
        font-weight: 700; }
    tr td.percentage {
      margin-left: auto; }
    tr td.rectangle {
      transition: all 0.3s;
      margin-left: 20px;
      padding: 0; }
      tr td.rectangle.good {
        box-shadow: 0 0 20px 5px green; }
      tr td.rectangle.medium {
        box-shadow: 0 0 20px 5px orange; }
      tr td.rectangle.bad {
        box-shadow: 0 0 20px 5px red; }

/*# sourceMappingURL=TableRowStats.css.map */
