@font-face {
  font-family: Poppins-Regular;
  src: url('../../assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../../assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../assets/fonts/montserrat/Montserrat-Bold.ttf');
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

input{
  cursor: pointer;
}

html, body{
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  outline: none;
  background: linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);

  .login-window{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: #292929;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 85px 33px 85px 45px;

    .promo{
      width: 50%;
      display: grid;
      align-items: center;

      h1, h2{
        user-select: none;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
      }

      h1{
        font-size: 35px;
        color: #e1e3e6;
      }

      h2{
        font-size: 20px;
        line-height: 1.1;
        color: #afafaf;
      }
    }


    .auth{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 50%;

      .subtitle{
        color: #e1e3e6;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
      }

      input[type="text"], input[type="password"]{
        font-family: Poppins-Regular, sans-serif;
        height: 50px;
        width: 70%;
        font-size: 20px;
        font-weight: 700;
        background: #e1e3e6;
        border: 3px solid transparent;
        margin-top: 15px;
        border-radius: 23px;
        padding: 0 30px;

        transition: all 0.35s;
      }

      input[type="text"]::placeholder, input[type="password"]::placeholder{
        color: #666;
      }

      input[type="text"]:not(:placeholder-shown), input[type="password"]:not(:placeholder-shown){
        color: black;
      }

      input:first-child{
        margin-top: 0;
      }

      input[type="text"]:hover, input[type="password"]:hover{
        transform: scale(0.95);
        box-shadow: 0 0 47px -8px hsla(207, 41%, 27%, 1 );
        transition: all 0.25s;
      }

      input[type="text"]:focus, input[type="password"]:focus{
        transform: scale(0.95);
        box-shadow: 0 0 47px -8px hsla(207, 41%, 27%, 1);
        transition: all 0.25s;
      }

      input[type="submit"]{
        font-family: Poppins-Regular, sans-serif;
        height: 50px;
        width: 70%;
        margin-top: 25px;
        font-size: 23px;
        font-weight: 700;
        border-radius: 23px;
        background: #333333;
        color: #FFFFFF;

        transition: all 0.35s;
      }

      input[type="submit"]:hover{
        background: #408835;

        transition: all 0.35s;
      }

      #forgotPassword{
        background: transparent;
        border: none;
        font-size: 14px;
        font-weight: 500;
        margin-top: -5px;
        color: #666;
        width: auto;
      }

      #forgotPassword:hover{
        color: #e1e3e6;
      }
    }
  }
}