@import "../../../Variables";

body{
  td.group{
    position: sticky;
    background-color: $theme-light-color-primary;
    border-right: 2px solid #666666;
    left: 0;
  }

  td.disciplines{
    overflow: auto;


  }

  &.dark{
    .group{
      background-color: $theme-dark-color-primary;
    }

    .disciplines{
      .disciplineBtn{
        &.selected{
          &:hover{
            border-color: $theme-dark-color-secondary;
          }
        }
      }
    }
  }
}

