@keyframes opacity-out {
  0% {
    opacity: 0.55; }
  100% {
    opacity: 1; } }
@keyframes selected-out-light {
  0% {
    background-color: #ffffff;
    color: #202020; }
  100% {
    background-color: #202020;
    color: #ffffff; } }
@keyframes selected-out-dark {
  0% {
    background-color: #202020;
    color: #e1e3e6; }
  100% {
    background-color: #e1e3e6;
    color: #202020; } }
body td.fullname {
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  left: 45px;
  z-index: 1;
  text-align: left;
  flex-shrink: 1;
  border-right: 2px solid #666666; }
  body td.fullname .name {
    margin-left: 5px; }
  body td.fullname .name-short {
    display: none;
    margin-left: 5px; }
body td.labwork {
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  left: 0;
  z-index: 1;
  text-align: left;
  flex-shrink: 1;
  padding: 0 15px;
  border-right: 2px solid #666666; }
  body td.labwork .title.short {
    display: none; }
body td.number {
  display: flex;
  justify-content: center;
  position: sticky;
  background-color: #ffffff;
  left: 0;
  z-index: 1;
  width: 45px;
  flex-shrink: 1; }
body td.stats {
  display: flex;
  justify-content: start;
  height: 100%;
  position: relative;
  font-size: 21px; }
body td.actions {
  display: flex;
  margin-left: auto;
  justify-content: center;
  padding: 10px 12px 10px 0; }
  body td.actions .action {
    font-weight: 700;
    border-radius: 7px;
    height: 100%;
    user-select: none;
    transition: all 0.2s; }
    body td.actions .action.all, body td.actions .action.nothing {
      padding: 10px; }
      body td.actions .action.all img, body td.actions .action.nothing img {
        height: 100%; }
    body td.actions .action.nothing {
      margin-left: 5px; }
  body td.actions .select-tasks .select-tasks__numbers {
    height: 100%;
    margin-left: 12px;
    border-radius: 7px 0 0 7px; }
  body td.actions .select-tasks .select-tasks__select {
    height: 100%;
    padding: 0 15px;
    border-radius: 0 7px 7px 0; }
  body td.actions .select-tasks:focus-within .select-tasks__select {
    border-color: #202020; }
body td.total-mark, body td.percentage {
  padding: 10px 12px 10px 0;
  width: 67px;
  align-items: center;
  justify-content: center; }
  body td.total-mark span, body td.percentage span {
    font-weight: 700; }
body td.percentage {
  margin-left: auto; }
body td.rectangle {
  padding: 0 !important;
  transition: all 0.3s; }
  body td.rectangle.good {
    box-shadow: 0 0 20px 5px green; }
  body td.rectangle.medium {
    box-shadow: 0 0 20px 5px orange; }
  body td.rectangle.bad {
    box-shadow: 0 0 20px 5px red; }
body.dark td.fullname {
  background-color: #202020; }
body.dark td.labwork {
  background-color: #202020; }
body.dark td.number {
  background-color: #202020; }
body.dark td.add-task:focus-within button {
  border-color: #e1e3e6; }
body.dark td.actions .select-tasks:focus-within .select-tasks__select {
  border-color: #e1e3e6; }

/*# sourceMappingURL=TableRowMarks.css.map */
