@import "./Variables.scss";

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

@keyframes anim-flex-opacity {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(80%);
  }
  100% {
    display: flex;
    opacity: 1;
    transform: translateY(90%);
  }
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: $theme-light-color-secondary;
  border-radius: 15px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 24px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s;

  &:disabled{
    opacity: 0.5;

    &:hover{
      background: transparent !important;
      border: none !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a{
  text-decoration: none;
  color: $theme-light-color-secondary;
  transition: all 0.2s;
}

html {
  height: 100%;

  body {
    height: 100%;
    background: $theme-light-color-primary;
    color: $theme-light-color-secondary;
    outline: none;
    overflow: hidden;

    button.add-svg{
      padding: 0;
      aspect-ratio: 1/1;

      svg {
        height: 100%;
        width: 100%;

        g {
          path {
            transition: all 0.2s;
            stroke: $theme-light-color-secondary;
          }
        }
      }
    }

    button,
    select,
    input {
      background-color: transparent;
      color: $theme-light-color-secondary;
      border: none;
      cursor: pointer;
      padding: 0 10px;
      user-select: none;
      border-radius: 7px;
      transition: all 0.2s;

      &:hover{
        background-color: $theme-light-hover-background-color;
        transition: all 0.2s;
      }

      img,
      svg{
        height: 100%;
        width: 100%;
      }
    }

    input[type=text],
    input[type=password],
    input[type=number]{
      text-overflow: ellipsis;
      width: 100px;
      background: $theme-light-hover-background-color;
      border: 2px solid transparent;
      padding: 0 10px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 700;

      &:hover,
      &:focus{
        border-color: $theme-light-color-secondary;
        background: transparent !important;
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    select {
      height: 100%;
      max-height: 200px;
      color: $theme-light-color-secondary;
      border-radius: 7px;
      text-align-last: center;
      overflow-y: auto;
      transition: all 0.2s;

      &:hover,
      &:focus{
        background-color: $theme-light-hover-background-color;
      }
    }

    header {
      position: relative;
      z-index: 3;
      display: flex;
      height: $header-height;
      gap: 12px;
      flex-direction: row;
      color: $theme-light-color-secondary;
      background: $theme-light-color-primary;
      padding: 12px;
      border-bottom: 2px solid #666666;
      overflow: auto;

      .theme{
        text-wrap: nowrap;
      }

      .info{
        height: 100%;
        font-weight: 700;
        display: flex;
        align-items: center;
        flex-direction: row;
        white-space: nowrap;
        gap: 8px;

        .info-item{
          font-size: 26px;
        }
      }

      nav {
        display: flex;
        flex-direction: row;
        gap: 12px;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
          border-radius: 7px;
          border: none;
          color: $theme-light-color-secondary;
          padding: 12px 10px;
          transition: all 0.2s;

          &.selected {
            border-color: $theme-light-color-secondary;
            animation: selected-out-light forwards;
            animation-duration: 0.2s;
          }

          &:hover,
          &:focus {
            background-color: $theme-light-hover-background-color;
          }
        }
      }

      .export {
        padding: 0 10px;

        a{
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;
        }
      }

      .filters {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        gap: 12px;

        .filter {
          justify-content: center;
          display: flex;
          height: 100%;
          align-items: center;
          flex-direction: column;
          text-align: center;

          .select-work{
            max-width: 15rem;
          }
        }
      }

      .exit-form{
        height: 100%;

        .exit {
          height: 100%;

          &:hover {
            background-color: rgba(255, 154, 154, 0.55);
          }
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }

    .auth-window {
      display: flex;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 800px;
      background: #292929;
      border-radius: 7px;
      overflow: hidden;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 60px 33px;
      animation: opacity-out;
      animation-duration: 0.2s;

      .auth-promo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h1, h2 {
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }

        h1 {
          font-size: 35px;
          color: #e1e3e6;
        }

        h2 {
          font-size: 20px;
          line-height: 1.1;
          color: #afafaf;
        }
      }

      .auth {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        width: 50%;

        .subtitle {
          color: #e1e3e6;
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }

        .auth-login,
        .auth-password{
          background-color: transparent;
          color: $theme-light-color-primary;
          border-color: $theme-light-hover-background-color;

          &::placeholder{
            color: $theme-light-hover-background-color;
          }

          &:focus{
            border-color: $theme-light-color-primary;
            background-color: $theme-light-color-primary;
            color: $theme-light-color-secondary;

            &::placeholder{
              color: $theme-light-color-secondary;
            }
          }
        }

        .auth-login,
        .auth-password,
        .auth-submit{
          width: 80%;
          padding: 5px 12px;
        }

        .auth-submit{
          background-color: $theme-light-hover-background-color;
          color: $theme-light-color-secondary;
          width: 65%;

          &:hover{
            border-color: green;
            box-shadow: 0 0 12px 0 green;
          }
        }

        .auth-forgot {
          background: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin-top: -5px;
          color: #666;
          width: auto;

          &:hover{
            color: #e1e3e6;
          }
        }
      }
    }

    .add {
      position: relative;
      z-index: 2;
      display: flex;
      overflow: auto;
      padding: 12px;
      gap: 12px;
      border-bottom: 2px solid #666666;
      background: $theme-light-color-primary;
      height: $header-height;
      box-shadow: 0 0 11px 0 rgba(0, 0, 0, 1);
      animation: opacity-out;
      animation-duration: 0.35s;

      span{
        text-wrap: nowrap;
        transition: color 0.2s;
      }

      form {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        input,
        button,
        select {
          height: 100%;
          width: auto;
        }

        input[type=text],
        input[type=password]{
          max-width: 250px;
        }

        .sample {
          height: 100%;
          gap: 12px;

          .mark {
            height: 100%;
            aspect-ratio: 1/1;

            input {
              width: 100%;
            }
          }
        }

        &.add-tasks {
          gap: 12px;

          .add-task {
            display: flex;
            gap: 12px;
            flex-direction: row;
            height: 100%;

            .add-task__numbers {
              aspect-ratio: 1/1;

              &:hover{
                border-color: $theme-light-color-secondary;
              }
            }
          }
        }

        .sample{
          display: flex;
          flex-direction: row;
        }

        &:not(:first-child){
          margin-left: auto;
        }

        &.add-student{
          input[type=text],
          input[type=password]{
            width: 7rem;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }

    .table-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: auto;
      width: 100%;
      background: $theme-light-color-primary;
      animation: opacity-out;
      animation-duration: 0.35s;

      table {
        height: 100%;
        width: 100%;
        background: $theme-light-color-primary;
        color: $theme-light-color-secondary;
        border-collapse: collapse;

        tbody {
          tr {
            display: flex;
            height: 80px;
            border-bottom: 2px solid #666666;
            transition: all 0.2s;

            td {
              display: flex;
              align-items: center;
              text-align: center;
              white-space: nowrap;
              padding: 10px 12px;
              background: $theme-light-color-primary;

              &.group{
                min-width: 140px;
                position: sticky;
                left: 0;
              }

              &.number {
                display: flex;
                justify-content: center;
                position: sticky;
                left: 0;
                z-index: 1;
                width: 45px;
                flex-shrink: 1;
              }

              &.fullName {
                min-width: 20rem;
                position: sticky;
                display: flex;
                flex-direction: row;
                left: 45px;
                z-index: 1;
                text-align: left;
                flex-shrink: 1;

                .name {
                  margin-left: 5px;
                }

                .surname {

                }

                .name-short{
                  display: none;
                  margin-left: 5px;
                }
              }

              &.student {
                padding: 0 12px;
                min-width: 20rem;
                position: sticky;
                display: flex;
                flex-direction: column;
                left: 45px;
                text-align: left;
                flex-shrink: 1;
                align-items: start;

                .fullname{
                  display: flex;
                  flex: 1;

                  .name {
                    margin-left: 5px;
                  }

                  .surname {

                  }

                  .name-short{
                    display: none;
                    margin-left: 5px;
                  }
                }

                .login{
                  display: flex;
                  align-items: center;
                  flex: 1;

                  span{
                    opacity: 0.8;
                  }
                }
              }

              &.labwork {
                min-width: 20rem;
                position: sticky;
                display: flex;
                flex-direction: column;
                left: 0;
                z-index: 1;
                text-align: left;
                flex-shrink: 1;
                padding: 0 15px;
                align-items: start;

                .type,
                .title{
                  display: flex;
                  flex: 1;
                  text-align: start;
                }

                .type{

                }

                .title{
                  display: flex;
                  flex: 1;
                  opacity: 0.8;
                }
              }

              &.actions {
                display: flex;
                margin-left: auto;
                justify-content: center;
                gap: 5px;

                .action {
                  font-weight: 700;
                  height: 100%;
                  user-select: none;
                  transition: all 0.2s;

                  &.all,
                  &.nothing{
                    padding: 10px;
                    aspect-ratio: 1/1;

                    svg{
                      height: 100%;

                      path{
                        transition: all 0.2s;
                      }
                    }
                  }

                  &.all{
                    &:hover{
                      svg{
                        path{
                          fill: #008d00;
                        }
                      }
                    }
                  }

                  &.nothing{
                    &:hover{
                      svg{
                        fill: red;
                      }
                    }
                  }
                }

                .select-tasks{
                  display: flex;
                  gap: 5px;

                  .select-tasks__numbers {
                    height: 100%;
                    margin-left: 5px;

                    &:hover{
                      border-color: $theme-light-color-secondary;
                    }
                  }

                  .select-tasks__select{
                    height: 100%;

                    &:hover{
                      background: $theme-light-hover-background-color;
                    }

                    &:active{
                      background: $theme-light-active-background-color;
                    }
                  }
                }
              }

              &.total-mark,
              &.percentage {
                position: sticky;
                width: 80px;
                align-items: center;
                justify-content: center;
                background: $theme-light-color-primary;

                span {
                  font-weight: 700;
                }
              }

              &.total-mark{
                right: 1px;
              }

              &.percentage{
                right: 81px;
                margin-left: auto;
              }

              &.rectangle{
                position: sticky;
                right: 0;
                padding: 0 !important;
                transition: all 0.3s;

                &.good{
                  box-shadow: 0 0 20px 5px rgba(0, 128, 0, 1);
                }

                &.medium{
                  box-shadow: 0 0 20px 5px rgba(255, 165, 0, 1);
                }

                &.bad{
                  box-shadow: 0 0 20px 5px rgba(255, 0, 0 , 1);
                }
              }

              &.stats {
                gap: 12px;
                display: flex;
                justify-content: start;
                height: 100%;
                position: relative;
                font-size: 21px;

                .task-wrapper {
                  position: relative;
                  height: 100%;
                  aspect-ratio: 1 / 1;

                  .markBtn,
                  .mark {
                    font-size: 26px;
                    font-weight: 700;
                    height: 100%;
                    width: 100%;

                    &.passed {
                      background: $theme-light-mark-passed;
                    }

                    &:hover + .task-info{
                      display: flex;
                      animation: anim-flex-opacity 0.2s ease-in-out forwards;
                    }
                  }

                  .markBtn {
                    &.passed {
                      background: $theme-light-mark-passed;

                      &:hover {
                        background: $theme-light-mark-hover;
                      }

                      &:active {
                        background: $theme-light-mark-active;
                      }
                    }
                  }

                  .mark {
                    cursor: default !important;

                    &:hover,
                    &:active,
                    &:focus {
                      background: transparent;
                    }

                    &.passed {
                      &:hover,
                      &:active,
                      &:focus {
                        background: rgb(178, 217, 178);
                      }
                    }
                  }

                  .task-info {
                    display: none;
                    position: absolute;
                    max-width: 280px;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    border-radius: 7px;
                    z-index: 3;
                    background: #292929;
                    padding: 8px;
                    flex-direction: column;
                    gap: 4px;

                    .title,
                    .description{
                      text-align: start;
                    }

                    .title{
                      font-size: 18px;
                    }

                    .description{
                      font-size: 16px;
                    }
                  }
                }
              }

              .retiredBtn {
                height: 100%;
                font-weight: 700;

                &.selected{
                  background: $theme-light-mark-passed;

                  &:hover{
                    background: $theme-light-mark-hover;
                  }
                }
              }

              &.disciplines {
                gap: 12px;

                .disciplineBtn{
                  height: 100%;

                  &.selected{
                    background: $theme-light-mark-passed;

                    &:hover{
                      background: $theme-light-mark-hover;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    }


    &.dark {
      background: $theme-dark-color-primary;
      color: $theme-dark-color-secondary;

      *::-webkit-scrollbar-thumb {
        background-color: $theme-dark-color-secondary;
      }

      a{
        color: $theme-dark-color-secondary
      }

      button.add-svg{
        svg {
          g {
            path {
              stroke: $theme-dark-color-secondary;
            }
          }
        }
      }

      button,
      select,
      input {
        color: $theme-dark-color-secondary;

        &:hover{
          background-color: $theme-dark-hover-background-color;
        }
      }

      input[type=text],
      input[type=password] {
        background: $theme-dark-hover-background-color;

        &:hover,
        &:focus{
          border-color: $theme-dark-color-secondary;
        }
      }

      select {
        color: $theme-dark-color-secondary;

        &:hover,
        &:focus{
          background-color: $theme-dark-hover-background-color;
        }
      }

      header {
        color: $theme-dark-color-secondary;
        background: $theme-dark-color-primary;

        nav {
          a {
            color: $theme-dark-color-secondary;
            animation-name: selected-out-dark;

            &.selected {
              border-color: $theme-dark-color-secondary;
            }

            &:hover,
            &:focus {
              background-color: $theme-dark-hover-background-color;
            }
          }
        }
      }

      .add {
        background: $theme-dark-color-primary;
        height: $header-height;

        form {
          &.add-tasks {
            .add-task {
              .add-task__numbers {
                &:hover{
                  border-color: $theme-dark-color-secondary;
                }
              }

              .add-task__add {
                svg {
                  g {
                    path {
                      stroke: $theme-dark-color-secondary;
                    }
                  }
                }
              }

              &:focus-within {
                border-color: $theme-dark-color-secondary;

                .add-task__numbers {
                  border-right-color: $theme-dark-color-secondary;
                }

                .add-task__add {
                  border-left-color: $theme-dark-color-secondary;
                }
              }
            }
          }
        }
      }

      .table-wrapper {
        background: $theme-dark-color-primary;

        table {
          background: $theme-dark-color-primary;
          color: $theme-dark-color-secondary;

          tbody {
            tr {
              td {
                background: $theme-dark-color-primary;

                &.stats {
                  .markBtn,
                  .mark{
                    &.passed{
                      background: $theme-dark-mark-passed;
                    }
                  }

                  .markBtn{
                    &.passed{
                      background: $theme-dark-mark-passed;

                      &:hover{
                        background: $theme-dark-mark-hover;
                      }
                    }
                  }

                  .mark{
                    &:hover,
                    &:focus{
                      background: transparent;
                    }

                    &.passed{
                      &:hover,
                      &:focus{
                        background: $theme-dark-mark-passed;
                      }
                    }
                  }
                }

                &.actions {
                  .select-tasks{
                    .select-tasks__numbers {
                      &:hover{
                        border-color: $theme-dark-color-secondary;
                      }
                    }

                    .select-tasks__select{
                      &:hover{
                        background: $theme-dark-hover-background-color;
                      }

                      &:active{
                        background: $theme-dark-active-background-color;
                      }
                    }
                  }
                }

                .retiredBtn{
                  &.selected{
                    background: $theme-dark-mark-passed;

                    &:hover{
                      background: $theme-dark-mark-hover;
                    }
                  }
                }

                &.disciplines {
                  .disciplineBtn{
                    &.selected{
                      background: $theme-dark-mark-passed;

                      &:hover{
                        background: $theme-dark-mark-hover;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}