@import "../../index.scss";

header {
  display: flex;
  flex-direction: row;
  color: $theme-light-color-secondary;
  height: $header-height;
  border-radius: 15px 15px 0 0;
  background: $theme-light-color-primary;
  padding: 13px;
  border-bottom: 2px solid #666666;

  .theme,
  .exit {
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: $theme-light-color-primary;
    color: $theme-light-color-secondary;
    border-radius: 7px;
    border: 2px solid rgba(102, 102, 102, 0.4);
    padding: 0;
    transition: all 0.2s;

    &:hover {
      border-color: $theme-light-color-secondary;
    }

    img {
      height: 100%;
      width: 100%;
    }

    button{
      padding: 0;
    }
  }

  .exit{
    display: flex;
    order: 3;
    padding: 0;

    button {
      background-color: transparent;
      border: 0;
      height: 100%;
    }
  }

  nav{
    display: flex;
    margin: 0 12px;
    height: 100%;
    width: 100%;
    overflow: auto;

    .functions{
      display: flex;
      flex-direction: row;

      .function:not(:first-child){
        margin-left: 12px;
      }
    }

    .filters{
      display: flex;
      flex-direction: row;
      margin-left: auto;

      .filter{
        justify-content: center;
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 12px;
        flex-direction: column;
        text-align: center;
      }
    }


    .name,
    .select-discipline{
      display: flex;
      align-items: center;
      height: 100%;
    }

    .name{
      span{
        font-size: 25px;
      }
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
  }
}


@media screen and (max-width: 1150px) {
  $header-height: 75px;

  * {
    font-size: 20px;
  }

  html {
    body {
      padding: 0;

      header {
        height: $header-height;
        padding: 5px;
        border-radius: 0;

        nav {
          display: flex;

          .name{
            span{
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 510px) {
  html {
    body {
      padding: 0;

      header {
        border-radius: 0;
      }
    }
  }
}
