@font-face {
  font-family: Poppins-Regular;
  src: url('../../assets/fonts/poppins/Poppins-Regular.ttf');
}

$theme-light-color-background:  linear-gradient(45deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
$theme-light-color-primary:     #ffffff;
$theme-light-color-secondary:   #292929;
$theme-light-color-shadow:      0 0 3px 2px rgba(0, 0, 0, 0.4);

$theme-dark-color-background:   linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
$theme-dark-color-primary:      #292929;
$theme-dark-color-secondary:    #e1e3e6;
$theme-dark-color-shadow:       0 0 3px 2px rgba(255, 255, 255, 0.4);

$media-size-small: 480px;
$media-size-medium: 768px;
$media-size-large: 1024px;

$header-height: 90px;

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 22px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s;
}

button, input, a, select{
  cursor: pointer;
  outline: none;
}

body{
  &.dark{
    button, select{
      &:hover{
        border-color: $theme-dark-color-secondary;
      }
    }
  }
}

html {
  height: 100%;

  body {
    padding: 35px;
    height: 100%;
    color: $theme-light-color-secondary;
    background: $theme-light-color-background;
    outline: none;
    overflow: hidden;

    button,
    select,
    input
    {
      background-color: transparent;
      color: $theme-light-color-secondary;
      border: 2px solid rgba(102, 102, 102, 0.4);
      user-select: none;
      transition: all 0.2s;
      border-radius: 7px;
      height: 60px;

      &:hover{
        border-color: $theme-light-color-secondary;
      }
    }

    header {
      color: $theme-light-color-secondary;
      height: $header-height;
      border-radius: 15px 15px 0 0;
      background: $theme-light-color-primary;
      padding: 15px 10%;
      border-bottom: 1px solid #666666;

      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;

        .theme,
        .exit {
          height: 100%;
          max-width: $header-height;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          background-color: $theme-light-color-primary;
          color: $theme-light-color-secondary;
          border-radius: 7px;
          border: 2px solid rgba(102, 102, 102, 0.4);
          padding: 5px;
          transition: all 0.2s;

          &:hover {
            border-color: $theme-light-color-secondary;
            box-shadow: $theme-light-color-shadow;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }

        .filters {
          display: flex;
          height: 100%;
          justify-content: space-evenly;
          flex-grow: 1;

          .filter {
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            select {
              border: 2px solid rgba(102, 102, 102, 0.4);
              background: $theme-light-color-primary;
              color: $theme-light-color-secondary;
              width: 100%;
              max-height: 200px;
              overflow-y: auto;
              height: 100%;
              border-radius: 7px;
              letter-spacing: 1px;
              text-align-last: center;

              transition: all 0.2s;

              &:hover {
                border-color: $theme-light-color-secondary;
                box-shadow: $theme-light-color-shadow;
              }

              &:focus {
                border-color: $theme-light-color-secondary;
                box-shadow: $theme-light-color-shadow;
              }

              option:nth-child(1n) {
                font-size: 19px;
              }

              option:nth-child(1) {
                display: none;
              }
            }
          }
        }

        .exit{
          display: flex;
          order: 3;
          padding: 0;

          button {
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 5px;
          }
        }
        
        &.mobile{
          display: none;
        }
      }
    }

    .table-wrapper {
      width: 100%;
      height: calc(100% - #{$header-height});
      border-radius: 0 0 15px 15px;
      overflow: auto;
      background: $theme-light-color-primary;

      table {
        height: 100%;
        width: 100%;
        background: $theme-light-color-primary;
        color: $theme-light-color-secondary;
        border-collapse: collapse;

        tbody {
          tr {
            display: flex;
            height: 80px;
            border-bottom: 1px solid #666666;

            td {
              display: flex;
              align-items: center;
              text-align: center;
              height: 100%;
              white-space: nowrap;

              &.number {
                display: flex;
                justify-content: center;
                position: sticky;
                background-color: $theme-light-color-primary;
                left: 0;
                z-index: 1;
                width: 45px;
                flex-shrink: 1;
              }

              &.fullname {
                position: sticky;
                display: flex;
                flex-direction: row;
                background-color: $theme-light-color-primary;
                left: 45px;
                z-index: 1;
                text-align: left;
                flex-shrink: 1;
                padding: 0 15px 0 5px;
                border-right: 1px solid #666666;

                .name {
                  margin-left: 5px;
                }

                .surname {

                }

                .name-short{
                  display: none;
                  margin-left: 5px;
                }
              }

              &.stats {
                padding: 0 15px;
                display: flex;
                justify-content: start;
                height: 100%;
                position: relative;
                font-size: 21px;

                .markBtn {
                  margin-left: 12px;
                  font-weight: 700;
                  width: 60px;

                  &:first-child {
                    margin-left: 0;
                  }

                  &:hover {
                    border-color: $theme-light-color-secondary;
                  }

                  &.passed{
                    border-color: green;
                    box-shadow: 0 0 3px 2px rgba(0, 128, 0, 0.4);

                    &:hover{
                      border-color: $theme-light-color-secondary;
                    }
                  }
                }
              }

              &.actions {
                padding: 0 15px 0 0;
                display: flex;
                margin-left: auto;
                justify-content: center;

                .action {
                  font-weight: 700;
                  border-radius: 7px;
                  user-select: none;
                  transition: all 0.2s;

                  &:hover {
                    box-shadow: $theme-light-color-shadow;
                  }

                  &.all,
                  &.nothing{
                    padding: 10px;

                    img{
                      height: 100%;
                    }
                  }

                  &.numbers{
                    border: 2px solid transparent;
                  }

                  &.selected{
                    padding: 0 15px;
                  }

                  &.nothing{
                    margin-left: 5px;
                  }

                  &.numbers {
                    width: 150px;
                    background-color: $theme-dark-color-secondary;
                    margin-left: 14px;
                    padding: 0 10px;
                    text-align: center;
                    letter-spacing: 1px;

                    &:focus {
                      box-shadow: $theme-light-color-shadow;
                    }
                  }

                  &.selected {
                    margin-left: 5px;
                  }
                }
              }

              &.total-mark,
              &.percentage {
                width: 67px;
                align-items: center;
                justify-content: center;

                span {
                  font-weight: 700;
                }
              }

              &.rectangle{
                transition: all 0.3s;
                margin-left: 20px;

                &.good{
                  box-shadow: 0 0 20px 5px rgba(0, 128, 0, 1);
                }

                &.medium{
                  box-shadow: 0 0 20px 5px rgba(255, 165, 0, 1);
                }

                &.bad{
                  box-shadow: 0 0 20px 5px rgba(255, 0, 0 , 1);
                }
              }
            }

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 15px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $theme-light-color-secondary;
        border-radius: 15px;
      }

      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }


    &.dark {
      color: $theme-dark-color-secondary;
      background: $theme-dark-color-background;

      button,
      select,
      input
      {
        color: $theme-dark-color-secondary;

        &:hover{
          border-color: $theme-dark-color-secondary;
        }
      }

      header {
        color: $theme-dark-color-secondary;
        background: $theme-dark-color-primary;

        nav {
          .theme,
          .exit {
            background-color: $theme-dark-color-primary;
            color: $theme-dark-color-secondary;

            &:hover {
              border-color: $theme-dark-color-secondary;
              box-shadow: $theme-dark-color-shadow;
            }
          }

          .filters {
            .filter {
              select {
                background: $theme-dark-color-primary;
                color: $theme-dark-color-secondary;

                &:hover {
                  border-color: $theme-dark-color-secondary;
                  box-shadow: $theme-dark-color-shadow;
                }

                &:focus {
                  border-color: $theme-dark-color-secondary;
                  box-shadow: $theme-dark-color-shadow;
                }
              }
            }
          }
        }
      }

      .table-wrapper {
        background: $theme-dark-color-primary;

        table {
          background: $theme-dark-color-primary;
          color: $theme-dark-color-secondary;

          tbody {
            tr {
              td {
                &.number {
                  background-color: $theme-dark-color-primary;
                }

                &.fullname {
                  background-color: $theme-dark-color-primary;
                }

                &.stats {
                  .markBtn {
                    &:hover {
                      border-color: $theme-dark-color-secondary;
                    }

                    &.passed {
                      &:hover {
                        border-color: $theme-dark-color-secondary;
                      }
                    }
                  }
                }

                &.actions {
                  .action {
                    &:hover {
                      box-shadow: $theme-dark-color-shadow;
                    }
                  }

                  .numbers {
                    color: #292929;
                    background-color: $theme-dark-color-secondary;

                    &:focus {
                      box-shadow: $theme-dark-color-shadow;
                    }
                  }
                }
              }
            }
          }
        }

        &::-webkit-scrollbar-thumb {
          background-color: $theme-dark-color-secondary;
        }
      }

      &.dark{

      }
    }
  }
}


@media
screen and (max-width: 1150px){
  $header-height: 75px;

  *{
    font-size: 18px;
  }

  html {
    body {
      padding: 0;

      header {
        height: $header-height;
        padding: 5px;
        border-radius: 0;

        nav {
          &.mobile {
            display: flex;
            justify-content: space-between;

            .buttons{
              height: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              .theme,
              .exit {
                position: fixed;
                bottom: 7%;
                width: 55px;
                height: 55px;
                z-index: 99;
              }

              .theme{
                left: 5%;
              }

              .exit{
                right: 5%;
              }
            }

            .filters {
              align-items: center;
              padding: 0;
              flex-direction: row;
              justify-content: space-evenly;

              .filter {
                width: 30%;

                select {
                  font-size: 17px;
                  height: 90%;
                }
              }
            }
          }

          &:not(.mobile){
            display: none;
          }
        }
      }

      .table-wrapper {
        border-radius: 0;
        height: calc(100% - #{$header-height});

        table {
          tbody {
            tr {
              height: 60px;

              td {
                &.number {
                  display: none;

                }

                &.fullname{
                  left: 0;

                  .surname{
                    margin-left: 10px;
                  }

                  .name{
                    display: none;
                  }

                  .name-short{
                    display: flex;
                  }
                }

                &.stats{


                  .markBtn{
                    height: 50px;
                    width: 50px;
                  }
                }

                &.actions{
                  .action{
                    height: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 485px) {
  $header-height: 120px;

  * {
    font-size: 18px;
  }

  html {
    body {
      padding: 0;

      header {
        height: $header-height;
        padding: 5px;
        border-radius: 0;

        nav {
          &.mobile {
            display: flex;
            justify-content: space-between;

            .buttons {
              height: 100%;
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              .theme,
              .exit {
                position: fixed;
                bottom: 13%;
                width: 55px;
                height: 55px;
                z-index: 99;
              }

              .theme {
                left: 7%;
              }

              .exit {
                right: 7%;
              }
            }

            .filters {
              padding: 0;
              flex-direction: column;

              .filter {
                width: 100%;

                select {
                  font-size: 17px;
                  height: 90%;
                }
              }
            }
          }

          &:not(.mobile) {
            display: none;
          }
        }
      }

      .table-wrapper {
        border-radius: 0;
        height: calc(100% - #{$header-height});

        table {
          tbody {
            tr {
              height: 60px;

              td {
                &.number {
                  display: none;

                }

                &.fullname{
                  left: 0;

                  .surname{
                    margin-left: 10px;
                  }

                  .name{
                    display: none;
                  }

                  .name-short{
                    display: flex;
                  }
                }

                &.stats{


                  .markBtn{
                    height: 50px;
                    width: 50px;
                  }
                }

                &.actions{
                  .action{
                    height: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 510px){
  html{
    body{
      padding: 0;
    }
  }
}