@font-face {
  font-family: Poppins-Regular;
  src: url('../../../assets/fonts/poppins/Poppins-Regular.ttf');
}

$theme-light-color-background:  linear-gradient(45deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
$theme-light-color-primary:     #ffffff;
$theme-light-color-secondary:   #292929;
$theme-light-color-shadow:      0 0 3px 2px rgba(0, 0, 0, 0.4);

$theme-dark-color-background:   linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
$theme-dark-color-primary:      #292929;
$theme-dark-color-secondary:    #e1e3e6;
$theme-dark-color-shadow:       0 0 3px 2px rgba(255, 255, 255, 0.4);

$media-size-small: 480px;
$media-size-medium: 768px;
$media-size-large: 1024px;

$header-height: 90px;

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 22px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s;
}

button, input, a, select{
  cursor: pointer;
  outline: none;
}

body{
  &.dark{
    button, select{
      &:hover{
        border-color: $theme-dark-color-secondary;
      }
    }
  }
}