@import "./Variables.scss";

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: $theme-light-color-secondary;
  border-radius: 15px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#root{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 22px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s;
}

button,
input,
a,
select{
  cursor: pointer;
  outline: none;
  padding: 0 10px;
}

a{
  text-decoration: none;
  color: $theme-light-color-secondary
}

html {
  height: 100%;

  body {
    height: 100%;
    background: $theme-light-color-primary;
    color: $theme-light-color-secondary;
    outline: none;
    overflow: hidden;

    button,
    select,
    input {
      background-color: transparent;
      color: $theme-light-color-secondary;
      border: 2px solid rgba(102, 102, 102, 0.4);
      user-select: none;
      border-radius: 7px;
      transition: all 0.2s;

      &:hover,
      &:focus {
        border-color: $theme-dark-color-primary;
        transition: all 0.2s;
      }
    }

    input[type=text],
    input[type=password] {
      width: 100px;
      background-color: $theme-dark-color-secondary;
      padding: 0 10px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 700;
      border: 2px solid transparent;

      &:hover,
      &:focus {
        border-color: $theme-light-color-secondary;
      }
    }

    select {
      height: 100%;
      max-height: 200px;
      background: $theme-light-color-primary;
      color: $theme-light-color-secondary;
      border: 2px solid rgba(102, 102, 102, 0.4);
      border-radius: 7px;
      text-align-last: center;
      overflow-y: auto;
      transition: all 0.2s;

      &:hover,
      &:focus {
        border-color: $theme-light-color-secondary;
      }

      &:focus {
        background-color: $theme-light-color-secondary;
        color: $theme-light-color-primary;
      }
    }

    .auth-window {
      display: flex;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 800px;
      background: #292929;
      border-radius: 7px;
      overflow: hidden;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 60px 33px;

      .auth-promo {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        h1, h2 {
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }

        h1 {
          font-size: 35px;
          color: #e1e3e6;
        }

        h2 {
          font-size: 20px;
          line-height: 1.1;
          color: #afafaf;
        }
      }

      .auth {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        width: 50%;

        .subtitle {
          color: #e1e3e6;
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 35px;
          font-weight: 700;
        }

        .auth-login,
        .auth-password,
        .auth-submit{
          width: 80%;
          padding: 5px 12px;
        }

        .auth-submit{
          width: 65%;

          &:hover{
            border-color: green;
            box-shadow: 0 0 12px 0 green;
          }
        }

        .auth-forgot {
          background: transparent;
          border: none;
          font-size: 14px;
          font-weight: 500;
          margin-top: -5px;
          color: #666;
          width: auto;

          &:hover{
            color: #e1e3e6;

          }
        }
      }
    }

    header {
      display: flex;
      height: $header-height;
      flex-direction: row;
      color: $theme-light-color-secondary;
      background: $theme-light-color-primary;
      padding: 12px;
      border-bottom: 2px solid #666666;
      overflow: auto;

      button,
      input {
        height: auto;
      }

      .info{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        white-space: nowrap;
        gap: 8px;

        .info-item{
          font-size: 26px;
        }
      }

      .functions {
        display: flex;
        flex-direction: row;

        .function {
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
          border-radius: 7px;
          border: 2px solid rgba(102, 102, 102, 0.4);
          color: $theme-light-color-secondary;
          padding: 12px 10px;
          transition: all 0.2s;

          &.selected {
            border-color: $theme-light-color-secondary;
            animation: selected-out-light 0.2s forwards;
          }

          &:hover {
            border-color: $theme-light-color-secondary;
          }

          &:not(:first-child) {
            margin-left: 12px;
          }
        }

        .export {
          padding: 0 10px;
        }
      }

      .filters {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        .filter {
          justify-content: center;
          display: flex;
          height: 100%;
          align-items: center;
          margin-left: 12px;
          flex-direction: column;
          text-align: center;
        }
      }

      .exit {
        margin-left: 12px;
        border-color: red;
        color: red;
        transition: all 0.3s;

        &:hover {
          border-color: red !important;
          background-color: red;
          color: #FFFFFF;
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }

    .table-wrapper {
      max-height: calc(100% - 87px);
      overflow: auto;
      width: 100%;
      background: $theme-light-color-primary;
      animation: opacity-out;
      animation-duration: 0.5s;

      table {
        height: 100%;
        width: 100%;
        background: $theme-light-color-primary;
        color: $theme-light-color-secondary;
        border-collapse: collapse;

        tbody {
          tr {
            display: flex;
            height: 80px;
            border-bottom: 2px solid #666666;

            &.add {
              padding: 12px;
              background: $theme-light-color-primary;
              position: sticky;
              height: $header-height;
              left: 0;
              top: 0;
              z-index: 2;

              td:not(:first-child){
                margin-left: auto;
              }

              td{
                padding: 0;

                form{
                  height: 100%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 12px;

                  input,
                  button,
                  select{
                    height: 100%;
                    width: auto;
                  }

                  .sample{
                    height: 100%;
                    gap: 12px;

                    .mark{
                      height: 100%;
                      aspect-ratio: 1/1;

                      input[type=text]{
                        width: 100%;
                      }
                    }
                  }

                  &.add-tasks{
                    gap: 0;

                    .add-task__title{
                      margin-right: 12px;
                    }

                    .add-task{
                      display: flex;
                      flex-direction: row;
                      height: 100%;

                      .add-task__numbers{
                        aspect-ratio: 1/1;
                        border-radius: 7px 0 0 7px;
                      }

                      .add-task__add{
                        width: 100%;
                        aspect-ratio: 1/1;
                        padding: 0;
                        border-radius: 0 7px 7px 0;

                        img{
                          height: 100%;
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }

            td {
              display: flex;
              align-items: center;
              text-align: center;
              white-space: nowrap;
              padding: 10px 12px;

              &.stats {
                .markBtn,
                .mark {
                  font-size: 26px;
                  margin-left: 12px;
                  font-weight: 700;
                  height: 100%;
                  aspect-ratio: 1 / 1;

                  &:first-child {
                    margin-left: 0;
                  }

                  &.passed{
                    border-color: green;

                    &:hover{
                      box-shadow: 0 3px 10px rgba(0, 128, 0, 0.4);
                      border-color: $theme-light-color-secondary;
                    }
                  }

                  &:hover{
                    border-color: $theme-light-color-secondary;
                  }
                }

                .mark{
                  cursor: default;

                  &:hover{
                    border-color: rgba(102, 102, 102, 0.4) !important;
                  }

                  &.passed{
                    border-color: green;
                    box-shadow: 1px 5px 10px rgba(0, 128, 0, 0.4);

                    &:hover{
                      border-color: green !important;
                    }
                  }
                }
              }

              &.disciplines {
                gap: 12px;

                .disciplineBtn{
                  height: 100%;

                  &.selected{
                    border-color: green;

                    &:hover{
                      border-color: $theme-light-color-secondary;
                      box-shadow: 0 0 3px 2px rgba(0, 128, 0, 0.4);
                    }
                  }
                }
              }

              .retiredBtn {
                height: 100%;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    &.dark {
      color: $theme-dark-color-secondary;
      background: $theme-dark-color-primary;

      *::-webkit-scrollbar-thumb {
        background-color: $theme-dark-color-secondary;
      }

      button,
      select,
      input {
        color: $theme-dark-color-secondary;

        &:hover,
        &:focus {
          border-color: $theme-dark-color-secondary;
        }
      }

      input[type=text],
      input[type=password] {
        background-color: $theme-dark-color-secondary;
        color: $theme-dark_color-primary;

        &:focus {
          color: $theme-dark-color-secondary;
          background-color: $theme-dark-color-primary;
          border-color: $theme-dark-color-secondary;
        }
      }

      select {
        background: $theme-dark-color-primary;
        color: $theme-dark-color-secondary;

        &:hover,
        &:focus {
          border-color: $theme-dark-color-secondary;
        }

        &:focus {
          background-color: $theme-dark-color-secondary;
          color: $theme-dark-color-primary;
        }
      }

      header {
        color: $theme-dark-color-secondary;
        background: $theme-dark-color-primary;

        .functions {
          .function {
            color: $theme-dark-color-secondary;

            &.selected {
              border-color: $theme-dark-color-secondary;
              animation: selected-out-dark 0.2s forwards;
            }

            &:hover {
              border-color: $theme-dark-color-secondary;
            }
          }
        }
      }

      .table-wrapper {
        background: $theme-dark-color-primary;


        table {
          background: $theme-dark-color-primary;
          color: $theme-dark-color-secondary;

          tbody {
            tr {
              &.add {
                background: $theme-dark-color-primary;

                .add-task {
                  &:focus-within {
                    button {
                      border-color: $theme-dark-color-secondary;
                    }
                  }
                }
              }

              &.stats {
                .markBtn,
                .mark {
                  &.passed{
                    &:hover{
                      border-color: $theme-dark-color-secondary;
                    }
                  }

                  &:hover{
                    border-color: $theme-dark-color-secondary;
                  }
                }

                .mark{
                  &:hover{
                    border-color: $theme-dark-color-secondary
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}