@import "./Variables.scss";

@font-face {
  font-family: Poppins-Regular;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf');
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: $theme-light-color-secondary;
  border-radius: 15px;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}

#root{
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 22px;
  box-sizing: border-box;
  font-family: Poppins-Regular, sans-serif;
  transition: background-color 0.3s;
}

button,
input,
a,
select{
  cursor: pointer;
  outline: none;
  padding: 0 10px;
}

a{
  text-decoration: none;
  color: $theme-light-color-secondary
}

html {
  height: 100%;

  body {
    height: 100%;
    background: $theme-light-color-primary;
    color: $theme-light-color-secondary;
    outline: none;
    overflow: hidden;

    button,
    select,
    input {
      background-color: transparent;
      color: $theme-light-color-secondary;
      border: 2px solid rgba(102, 102, 102, 0.4);
      user-select: none;
      border-radius: 7px;
      transition: all 0.2s;

      &:hover,
      &:focus{
        border-color: $theme-light-color-secondary;
      }
    }

    input[type=text],
    input[type=password]{
      width: 100px;
      background-color: $theme-dark-color-secondary;
      padding: 0 10px;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 700;
      border: 2px solid transparent;

      &:hover,
      &:focus{
        border-color: $theme-light-color-secondary;
      }
    }

    select{
      height: 100%;
      max-height: 200px;
      background: $theme-light-color-primary;
      color: $theme-light-color-secondary;
      border: 2px solid rgba(102, 102, 102, 0.4);
      border-radius: 7px;
      text-align-last: center;
      overflow-y: auto;
      transition: all 0.2s;

      &:hover,
      &:focus{
        border-color: $theme-light-color-secondary;
      }

      &:focus{
        background-color: $theme-light-color-secondary;
        color: $theme-light-color-primary;
      }
    }

    header {
      display: flex;
      max-height: 80px;
      flex-direction: row;
      color: $theme-light-color-secondary;
      background: $theme-light-color-primary;
      padding: 12px;
      border-bottom: 2px solid #666666;
      overflow: auto;

      button,
      input{
        height: auto;
      }

      .exit {
        margin-left: 12px;
        border-color: red;
        color: red;
        transition: all 0.3s;

        &:hover {
          border-color: red !important;
          background-color: red;
          color: #FFFFFF;
        }
      }

      .functions {
        display: flex;
        flex-direction: row;

        .function {
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: center;
          border-radius: 7px;
          border: 2px solid rgba(102, 102, 102, 0.4);
          color: $theme-light-color-secondary;
          padding: 12px 10px;
          transition: all 0.2s;

          &.selected {
            border-color: $theme-light-color-secondary;
            animation: selected-out-light 0.2s forwards;
          }

          &:hover{
            border-color: $theme-light-color-secondary;
          }

          &:not(:first-child){
            margin-left: 12px;
          }
        }

        .export {
          padding: 0 10px;
        }
      }

      .filters {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        .filter {
          justify-content: center;
          display: flex;
          height: 100%;
          align-items: center;
          margin-left: 12px;
          flex-direction: column;
          text-align: center;
        }
      }

      .name {
        span {
          font-size: 25px;
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
    }

    .table-wrapper {
      height: calc(100% - #{$header-max-height});
      width: 100%;
      overflow: auto;
      background: $theme-light-color-primary;
      animation: opacity-out;
      animation-duration: 0.5s;

      table {
        height: 100%;
        width: 100%;
        background: $theme-light-color-primary;
        color: $theme-light-color-secondary;
        border-collapse: collapse;

        tbody{
          tr{
            display: flex;
            height: 80px;
            border-bottom: 2px solid #666666;

            td {
              display: flex;
              align-items: center;
              text-align: center;
              white-space: nowrap;
              padding: 10px 12px;

              &.stats{
                .markBtn,
                .mark{
                  height: 100%;
                  font-weight: 700;
                }
              }

              &.disciplines {
                .disciplineBtn{
                  height: 100%;
                  font-weight: 700;
                }
              }

              &.stats{
                .markBtn,
                .mark{
                  height: 100%;
                  font-weight: 700;
                }
              }

              .retiredBtn{
                height: 100%;
                font-weight: 700;
              }
            }

            &.add{
              background: $theme-light-color-primary;
              position: sticky;
              left: 0;
              top: 0;
              z-index: 2;

              &.work{
                .work-title{
                  .work-title__input{
                    height: 100%;
                    width: auto;
                  }
                }

                .marks__title{
                  margin-left: auto;

                }

                .marks {
                  .mark {
                    margin-left: 12px;
                    aspect-ratio: 1/1;
                    border-radius: 7px;

                    input {
                      border-radius: 7px;
                      width: 100%;
                      height: 100%;
                      border: 2px solid transparent;

                      &:hover,
                      &:focus {
                        border: 2px solid $theme-light-color-secondary
                      }
                    }

                    &:first-child{
                      margin-left: 0;
                    }
                  }
                }

                .add-task__title{
                  margin-left: auto;
                }

                .add-task__numbers{
                  height: 100%;
                  border-radius: 7px 0 0 7px;
                }

                .add-work{
                  .add-work__button{
                    height: 100%;
                  }
                }

                .add-task{
                  padding: 10px 12px;
                  display: flex;
                  height: 100%;

                  .add-task__add{
                    height: 100%;
                    padding: 0;
                    aspect-ratio: 1 / 1;
                    border-radius: 0 7px 7px 0;

                    .add-task__img{
                      height: 100%;
                      width: 100%;
                    }
                  }

                  &:focus-within{
                    button{
                      border-color: $theme-light-color-secondary;
                    }
                  }
                }
              }

              &.student{
                .student-name,
                .student-surname{
                  input[type=text]{
                    height: 100%;
                    width: auto;
                  }
                }

                .add-student{
                  .add-student__button{
                    height: 100%;
                  }
                }

                .add-group__title{
                  margin-left: auto;
                }

                .group-name{
                  input[type=text]{
                    height: 100%;
                    width: auto;
                  }
                }

                .add-group{
                  .add-group__button{
                    height: 100%;
                  }
                }
              }

              &.discipline{
                .discipline-name{
                  input[type=text]{
                    height: 100%;
                    width: auto;
                  }
                }

                .add-discipline{
                  .add-discipline__button{
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.dark{
      color: $theme-dark-color-secondary;
      background: $theme-dark-color-primary;

      *::-webkit-scrollbar-thumb {
        background-color: $theme-dark-color-secondary;
      }

      button,
      select,
      input {
        color: $theme-dark-color-secondary;

        &:hover,
        &:focus{
          border-color: $theme-dark-color-secondary;
        }
      }

      input[type=text],
      input[type=password]{
        background-color: $theme-dark-color-secondary;
        color: $theme-dark_color-primary;

        &:focus{
          color: $theme-dark-color-secondary;
          background-color: $theme-dark-color-primary;
          border-color: $theme-dark-color-secondary;
        }
      }

      select {
        background: $theme-dark-color-primary;
        color: $theme-dark-color-secondary;

        &:hover,
        &:focus{
          border-color: $theme-dark-color-secondary;
        }

        &:focus{
          background-color: $theme-dark-color-secondary;
          color: $theme-dark-color-primary;
        }
      }

      header {
        color: $theme-dark-color-secondary;
        background: $theme-dark-color-primary;

        .functions {
          .function {
            color: $theme-dark-color-secondary;

            &.selected {
              border-color: $theme-dark-color-secondary;
              animation: selected-out-dark 0.2s forwards;
            }

            &:hover{
              border-color: $theme-dark-color-secondary;
            }
          }
        }

        .marks {
          .mark {
            input {
              &:hover,
              &:focus {
                border: 2px solid $theme-dark-color-secondary
              }
            }
          }
        }
      }

      .table-wrapper {
        background: $theme-dark-color-primary;


        table {
          background: $theme-dark-color-primary;
          color: $theme-dark-color-secondary;

          tbody{
            tr{
              display: flex;
              height: 80px;
              border-bottom: 2px solid #666666;

              &.add{
                background: $theme-dark-color-primary;

                .add-task{
                  &:focus-within{
                    button{
                      border-color: $theme-dark-color-secondary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1150px) {
  $header-height: 75px;

  * {
    font-size: 20px;
  }

  html {
    body {
      padding: 0;

      header {
        height: $header-height;
        padding: 5px;
        border-radius: 0;

        nav {
          display: flex;

          .name{
            span{
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 510px) {
  html {
    body {
      padding: 0;

      header {
        border-radius: 0;
      }
    }
  }
}

