$theme-light-color-background:  linear-gradient(45deg, hsla(259, 84%, 78%, 1) 0%, hsla(206, 67%, 75%, 1) 100%);
$theme-light-color-primary:     #ffffff;
$theme-light-color-secondary:   #222222;

$theme-dark-color-background:   linear-gradient(45deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
$theme-dark-color-primary:      #222222;
$theme-dark-color-secondary:    #e1e3e6;

$media-size-small: 480px;
$media-size-medium: 768px;
$media-size-large: 1024px;

$header-height: 85px;