$theme-light-color-primary:               #ffffff;
$theme-light-color-secondary:             #202020;
$theme-light-hover-background-color:      rgb(220, 222, 226);
$theme-light-active-background-color:     rgb(191, 192, 197);
$theme-light-login-background:            rgb(196, 196, 204);
$theme-light-mark-passed:                 rgb(178,217,178);
$theme-light-mark-hover:                  rgb(127,191,127);
$theme-light-mark-active:                 rgb(117,169,117);

$theme-dark-color-primary:                #202020;
$theme-dark-color-secondary:              #e1e3e6;
$theme-dark-hover-background-color:       rgb(61, 62, 69);
$theme-dark-active-background-color:      rgb(50,50,54);
$theme-dark-mark-passed:                  rgb(65, 82, 65);
$theme-dark-mark-hover:                   rgb(96,140,96);
$theme-dark-mark-active:                  rgb(88, 119, 88);

$media-size-small: 480px;
$media-size-medium: 768px;
$media-size-large: 1024px;

$header-height: 85px;

@keyframes opacity-out{
  0%{
    opacity: 0.55;
  }
  100%{
    opacity: 1;
  }
}

@keyframes selected-out-light{
  0%{
    background-color: $theme-light-hover-background-color;
    color: $theme-light-color-secondary;
  }
  100%{
    background-color: $theme-light-color-secondary;
    color: $theme-light-color-primary;
  }
}

@keyframes selected-out-dark{
  0%{
    background-color: $theme-dark-hover-background-color;
    color: $theme-dark-color-secondary;
  }
  100%{
    background-color: $theme-dark-color-secondary;
    color: $theme-dark-color-primary;
  }
}